In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
gkey = 'AIzaSyCwlx3BTvOIWkkxA5KjR8HGRd9Rgf2Oj1w'

In [2]:
output_file = 'c:/Users/marcu/OneDrive/Desktop/Python_API_Homework/WeatherPy/weatherpy_data.csv'
weatherpy_df = pd.read_csv(output_file)
weatherpy_df.head()

           City   Temp  Latitude  Longitude  Humidity  Cloudiness  Wind Speed
0       weyburn  65.82     49.67    -103.85      83.0       100.0        6.64
1        albany  60.44     42.60     -73.97      58.0        75.0        6.08
2    port hardy  59.00     50.70    -127.42      62.0        75.0        6.93
3  inderborskiy  59.04    -33.02      27.91      36.0         0.0        9.60
4   east london  39.85     69.70     170.31      84.0        18.0        6.31

In [3]:
weatherpy1_df = weatherpy_df.dropna()
weatherpy1_df.head()

           City   Temp  Latitude  Longitude  Humidity  Cloudiness  Wind Speed
0       weyburn  65.82     49.67    -103.85      83.0       100.0        6.64
1        albany  60.44     42.60     -73.97      58.0        75.0        6.08
2    port hardy  59.00     50.70    -127.42      62.0        75.0        6.93
3  inderborskiy  59.04    -33.02      27.91      36.0         0.0        9.60
4   east london  39.85     69.70     170.31      84.0        18.0        6.31

In [4]:
gmaps.configure(gkey)

In [5]:
locations = weatherpy1_df[['Latitude', 'Longitude']]
weights = weatherpy1_df['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
ideal_vacation_df = weatherpy1_df.loc[weatherpy1_df['Temp']>=75]
ideal_vacation_df

            City   Temp  Latitude  Longitude  Humidity  Cloudiness  Wind Speed
7      esperance  88.97     18.69      12.92      12.0         0.0        5.50
9         kodiak  83.37     32.86     -90.41      65.0         1.0        5.30
18   nizhneyansk  75.20     -7.47     -34.81      94.0        40.0       10.29
19        yulara  81.05     65.75     150.85      26.0       100.0       11.48
20       pitimbu  82.40     -8.19     114.97     100.0        75.0       14.99
..           ...    ...       ...        ...       ...         ...         ...
548      bariadi  86.04     28.37     129.48      74.0        75.0       12.75
550          eyl  82.26     -0.91     122.88      72.0        17.0        7.11
554     portales  80.47     30.80     108.39      71.0        83.0        5.37
555      andrews  86.79      0.54     123.06      62.0         0.0        1.61
560    rongcheng  88.97     44.08    -103.23      15.0         1.0        9.17

[201 rows x 7 columns]

In [15]:
ideal_vacation1_df = ideal_vacation_df.loc[ideal_vacation_df["Cloudiness"]==0]
ideal_vacation1_df

,City,Temp,Latitude,Longitude,Humidity,Cloudiness,Wind Speed
7,esperance,88.97,18.69,12.92,12.0,0.0,5.50
56,cape town,76.59,14.90,-24.50,79.0,0.0,6.51
91,beira,77.05,-11.38,43.28,71.0,0.0,13.71
101,sulangan,89.55,27.67,-105.17,12.0,0.0,15.97
102,bredasdorp,87.93,31.56,48.18,13.0,0.0,11.50
138,pacific grove,78.13,-3.28,-39.27,82.0,0.0,7.16
152,trairi,78.80,41.29,123.77,44.0,0.0,6.71
176,beringovskiy,81.50,24.09,32.91,20.0,0.0,14.99
185,waslala,77.77,40.13,124.39,45.0,0.0,4.43
242,port pirie,78.80,36.54,61.16,24.0,0.0,2.24
273,krasnoselkup,77.76,41.76,86.15,20.0,0.0,13.40
274,nishihara,84.78,-12.07,134.27,56.0,0.0,14.56
278,susanino,82.83,29.03,21.55,20.0,0.0,11.83
285,saskylakh,75.06,-20.74,116.85,32.0,0.0,21.00
301,jalu,88.54,16.64,1.64,40.0,0.0,25.64
314,kedougou,87.71,22.57,59.53,51.0,0.0,4.99
318,coihaique,96.39,20.50,-10.07,16.0,0.0,12.39
325,geraldton,96.31,27.85,67.91,19.0,0.0,8.01
339,tsihombe,79.38,39.24,55.52,35.0,0.0,5.14
346,bahile,80.94,30.18,78.12,61.0,0.0,4.83
377,doiwala,81.75,45.32,55.20,29.0,0.0,11.30
378,tabiauea,77.05,51.37,110.47,36.0,0.0,1.70
381,ornes,80.28,29.16,16.14,42.0,0.0,19.84
388,ondorhaan,89.11,30.90,75.85,28.0,0.0,6.33
399,omboue,82.85,25.02,37.27,54.0,0.0,4.74
416,waddan,77.00,17.49,44.13,23.0,0.0,1.16
439,amderma,86.20,39.51,54.37,19.0,0.0,13.62
508,den helder,94.48,20.20,1.01,10.0,0.0,14.85
518,batetskiy,81.00,31.32,-113.53,75.0,0.0,8.99
520,priyutovo,88.97,11.52,13.69,41.0,0.0,12.06
525,dnestrovsc,75.20,37.14,50.29,69.0,0.0,2.24
529,necochea,83.34,29.11,21.29,20.0,0.0,9.86
533,kangaatsiaq,75.36,56.85,105.25,51.0,0.0,5.08
555,andrews,86.79,0.54,123.06,62.0,0.0,1.61

In [17]:
ideal_vacation2_df = ideal_vacation1_df.loc[ideal_vacation1_df["Wind Speed"]<10]
ideal_vacation2_df

,City,Temp,Latitude,Longitude,Humidity,Cloudiness,Wind Speed
7,esperance,88.97,18.69,12.92,12.0,0.0,5.50
56,cape town,76.59,14.90,-24.50,79.0,0.0,6.51
138,pacific grove,78.13,-3.28,-39.27,82.0,0.0,7.16
152,trairi,78.80,41.29,123.77,44.0,0.0,6.71
185,waslala,77.77,40.13,124.39,45.0,0.0,4.43
242,port pirie,78.80,36.54,61.16,24.0,0.0,2.24
314,kedougou,87.71,22.57,59.53,51.0,0.0,4.99
325,geraldton,96.31,27.85,67.91,19.0,0.0,8.01
339,tsihombe,79.38,39.24,55.52,35.0,0.0,5.14
346,bahile,80.94,30.18,78.12,61.0,0.0,4.83
378,tabiauea,77.05,51.37,110.47,36.0,0.0,1.70
388,ondorhaan,89.11,30.90,75.85,28.0,0.0,6.33
399,omboue,82.85,25.02,37.27,54.0,0.0,4.74
416,waddan,77.00,17.49,44.13,23.0,0.0,1.16
518,batetskiy,81.00,31.32,-113.53,75.0,0.0,8.99
525,dnestrovsc,75.20,37.14,50.29,69.0,0.0,2.24
529,necochea,83.34,29.11,21.29,20.0,0.0,9.86
533,kangaatsiaq,75.36,56.85,105.25,51.0,0.0,5.08
555,andrews,86.79,0.54,123.06,62.0,0.0,1.61

In [18]:
ideal_vacation3_df = ideal_vacation2_df.loc[ideal_vacation2_df["Humidity"]<50]
ideal_vacation3_df

           City   Temp  Latitude  Longitude  Humidity  Cloudiness  Wind Speed
7     esperance  88.97     18.69      12.92      12.0         0.0        5.50
152      trairi  78.80     41.29     123.77      44.0         0.0        6.71
185     waslala  77.77     40.13     124.39      45.0         0.0        4.43
242  port pirie  78.80     36.54      61.16      24.0         0.0        2.24
325   geraldton  96.31     27.85      67.91      19.0         0.0        8.01
339    tsihombe  79.38     39.24      55.52      35.0         0.0        5.14
378    tabiauea  77.05     51.37     110.47      36.0         0.0        1.70
388   ondorhaan  89.11     30.90      75.85      28.0         0.0        6.33
416      waddan  77.00     17.49      44.13      23.0         0.0        1.16
529    necochea  83.34     29.11      21.29      20.0         0.0        9.86