In [45]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
#gkey = 'AIzaSyAcU_eGLIYWAT6OF27fRNAdFohgRzInBeA'
from config import gkey

In [32]:
output_file = 'c:/Users/marcu/OneDrive/Desktop/Python_API_Homework/WeatherPy/weatherpy_data.csv'
weatherpy_df = pd.read_csv(output_file)
weatherpy_df.head()

,City,Temp,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Country,Date
0,busselton,58.41,-33.65,115.33,55.0,84.0,27.22,AU,1.592353e+09
1,mataura,47.46,-46.19,168.86,90.0,100.0,8.99,NZ,1.592353e+09
2,yulara,51.80,-25.24,130.99,34.0,0.0,11.41,AU,1.592353e+09
3,punta arenas,33.39,-53.15,-70.92,79.0,62.0,5.82,CL,1.592353e+09
4,ribeira grande,64.83,38.52,-28.70,90.0,11.0,17.00,PT,1.592353e+09

In [33]:
weatherpy1_df = weatherpy_df.dropna()
weatherpy1_df.head()

,City,Temp,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Country,Date
0,busselton,58.41,-33.65,115.33,55.0,84.0,27.22,AU,1.592353e+09
1,mataura,47.46,-46.19,168.86,90.0,100.0,8.99,NZ,1.592353e+09
2,yulara,51.80,-25.24,130.99,34.0,0.0,11.41,AU,1.592353e+09
3,punta arenas,33.39,-53.15,-70.92,79.0,62.0,5.82,CL,1.592353e+09
4,ribeira grande,64.83,38.52,-28.70,90.0,11.0,17.00,PT,1.592353e+09

In [34]:
gmaps.configure(gkey)

In [35]:
locations = weatherpy1_df[['Latitude', 'Longitude']]
weights = weatherpy1_df['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
ideal_vacation_df = weatherpy1_df.loc[(weatherpy1_df['Temp']>=75) & (weatherpy1_df["Wind Speed"]<10) & (weatherpy1_df["Cloudiness"] ==0)\
                                      & (weatherpy1_df["Humidity"] <50)].dropna()
ideal_vacation_df

,City,Temp,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Country,Date
232,sikonge,90.63,21.43,39.83,19.0,0.0,5.26,SA,1.592353e+09
235,mirnyy,76.51,27.27,31.15,26.0,0.0,3.02,EG,1.592353e+09
248,gornopravdinsk,93.24,27.32,-112.28,27.0,0.0,6.67,MX,1.592353e+09
285,sierpc,93.34,20.20,1.01,10.0,0.0,5.59,ML,1.592353e+09
330,valley city,82.04,24.09,32.91,16.0,0.0,5.41,EG,1.592353e+09
378,solano,82.02,34.30,71.65,19.0,0.0,4.99,PK,1.592354e+09
477,vanavara,94.03,29.68,73.62,11.0,0.0,6.82,IN,1.592354e+09
553,pulaski,82.71,32.07,64.84,13.0,0.0,9.22,AF,1.592354e+09

In [41]:
# ideal_vacation1_df = ideal_vacation_df.loc[ideal_vacation_df["Cloudiness"]==0]
# ideal_vacation1_df

In [42]:
# ideal_vacation2_df = ideal_vacation1_df.loc[ideal_vacation1_df["Wind Speed"]<10]
# ideal_vacation2_df

In [43]:
# ideal_vacation3_df = ideal_vacation2_df.loc[ideal_vacation2_df["Humidity"]<50]
ideal_vacation_df["Hotel Name"] = ""
ideal_vacation_df

,City,Temp,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
232,sikonge,90.63,21.43,39.83,19.0,0.0,5.26,SA,1.592353e+09,
235,mirnyy,76.51,27.27,31.15,26.0,0.0,3.02,EG,1.592353e+09,
248,gornopravdinsk,93.24,27.32,-112.28,27.0,0.0,6.67,MX,1.592353e+09,
285,sierpc,93.34,20.20,1.01,10.0,0.0,5.59,ML,1.592353e+09,
330,valley city,82.04,24.09,32.91,16.0,0.0,5.41,EG,1.592353e+09,
378,solano,82.02,34.30,71.65,19.0,0.0,4.99,PK,1.592354e+09,
477,vanavara,94.03,29.68,73.62,11.0,0.0,6.82,IN,1.592354e+09,
553,pulaski,82.71,32.07,64.84,13.0,0.0,9.22,AF,1.592354e+09,

In [44]:

target_coordinates = ideal_vacation_df['City']
target_search = "Hotels"
target_radius = 5000
target_type = "lodging"

params = {
    #"City":target_coordinates,
    #"Hotels":target_search,
    "radius":target_radius,
    "type":target_type,
    "key":gkey
}

# Iterate thru the dataframe
for index, row in ideal_vacation3_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    response = requests.get(base_url, params=params)
    hotels_data = response.json()
    try:
        ideal_vacation_df.loc[index, "Hotel Name"] = hotels_data["results"][0]["name"]
    except (KeyError, IndexError):
        print("Skip results")
        
ideal_vacation_df

Skip results
Skip results

,City,Temp,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
232,sikonge,90.63,21.43,39.83,19.0,0.0,5.26,SA,1.592353e+09,Hotel Fairmont Makkah Clock Royal Tower
235,mirnyy,76.51,27.27,31.15,26.0,0.0,3.02,EG,1.592353e+09,Romany Adly Gad
248,gornopravdinsk,93.24,27.32,-112.28,27.0,0.0,6.67,MX,1.592353e+09,Hotel Las Casitas Santa Rosalia
285,sierpc,93.34,20.20,1.01,10.0,0.0,5.59,ML,1.592353e+09,
330,valley city,82.04,24.09,32.91,16.0,0.0,5.41,EG,1.592353e+09,Nuba Nile
378,solano,82.02,34.30,71.65,19.0,0.0,4.99,PK,1.592354e+09,Gul faraz khan house
477,vanavara,94.03,29.68,73.62,11.0,0.0,6.82,IN,1.592354e+09,Pensia Sadan
553,pulaski,82.71,32.07,64.84,13.0,0.0,9.22,AF,1.592354e+09,

In [46]:
hotel_df = ideal_vacation_df
hotel_df

,City,Temp,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
232,sikonge,90.63,21.43,39.83,19.0,0.0,5.26,SA,1.592353e+09,Hotel Fairmont Makkah Clock Royal Tower
235,mirnyy,76.51,27.27,31.15,26.0,0.0,3.02,EG,1.592353e+09,Romany Adly Gad
248,gornopravdinsk,93.24,27.32,-112.28,27.0,0.0,6.67,MX,1.592353e+09,Hotel Las Casitas Santa Rosalia
285,sierpc,93.34,20.20,1.01,10.0,0.0,5.59,ML,1.592353e+09,
330,valley city,82.04,24.09,32.91,16.0,0.0,5.41,EG,1.592353e+09,Nuba Nile
378,solano,82.02,34.30,71.65,19.0,0.0,4.99,PK,1.592354e+09,Gul faraz khan house
477,vanavara,94.03,29.68,73.62,11.0,0.0,6.82,IN,1.592354e+09,Pensia Sadan
553,pulaski,82.71,32.07,64.84,13.0,0.0,9.22,AF,1.592354e+09,

In [48]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [49]:
fig = gmaps.figure()
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))